<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"></a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            <li><a href="/stock-all">Stocks</a></li>
            <li><a href="/fund-all">Mutual Fund</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Pull Data<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/pull-mf">Pull MF</a></li>
                    <li><a href="/pull-stock">Pull Stock</a></li>
                    <li><a href="/pull-mf-portfolio">Pull Portfolio</a></li>
                    <li><a href="/link-mf-stock">Link MF & Stock</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
