<#import "common/main-layout.html" as main>
<@main.page>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="container-fluid" id="C1">
                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <table id="fund-table" class="table table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th colspan="5">${type}</th>
                            </tr>
                            <tr>
                                <th>Rank</th>
                                <th>Asset</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>On Day</th>
                            </tr>
                            </thead>
                            <tbody>
                            <#assign i = 1/>
                            <#list fundList as fund>
                            <tr>
                                <td>${i}</td>
                                <td>${fund.asset}</td>
                                <td><a href="#">${fund.name}</a></td>
                                <td>${fund.category}</td>
                                <td>${fund.onday?date}</td>
                            </tr>
                            <#assign i = i + 1/>
                            </#list>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/mutualfund-all.js"></script>
</@main.page>