<#import "common/main-layout.html" as main>
<@main.page>
<div class="container-fluid">
	<div class="container-fluid" id="C1">
		<div class="row">
			<div class="col-md-6">
				<br />
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th colspan="3">Mutual Fund Asset Size & Category</th>
						</tr>
						<tr>
							<th>Rank</th>
							<th>Asset</th>
							<th>Category</th>
						</tr>
					</thead>
					<tbody>
						<#assign i = 1/>
						<#list mfData as mfDataObj>
							<tr>
								<td>${i}</td>
								<td>${mfDataObj[0]}</td>
								<td><a href="/fund-all/${mfDataObj[1]}">${mfDataObj[1]}</a></td>
							</tr>
							<#assign i = i + 1/>
						</#list>
					</tbody>
				</table>
			</div>
			<div class="col-md-6">
				<br />
				<table class="table table-bordered" width="100%" cellspacing="0">
					<thead>
					<tr>
						<th colspan="3">Stock Asset Size & Category</th>
					</tr>
					<tr>
						<th>Rank</th>
						<th>Asset</th>
						<th>Category</th>
					</tr>
					</thead>
					<tbody>
					<#assign i = 1/>
					<#list stockData as stockDataObj>
						<tr>
							<td>${i}</td>
							<td>${stockDataObj[0]}</td>
							<td><a href="/stock-all/${stockDataObj[1]}">${stockDataObj[1]}</a></td>
						</tr>
						<#assign i = i + 1/>
					</#list>
					</tbody>
				</table>
			</div>
		</div>

	</div>
</div>
</@main.page> 