<#import "common/main-layout.html" as main>
<@main.page>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <table id="stock-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th colspan="7">Stock Type: ${type}</th>
                            </tr>
                            <tr>
                                <th>Rank</th>
                                <th>Asset</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>On Day</th>
                                <th>MF Count</th>
                                <th>MF Cap</th>
                            </tr>
                            </thead>
                            <tbody>
                            <#assign i = 1/>
                            <#list stockList as stock>
                                <tr>
                                    <td>${i}</td>
                                    <td>${stock.mcap}</td>
                                    <td><a href="/stock/${stock.stockId}">${stock.name}</a></td>
                                    <td>${stock.category}</td>
                                    <td>${stock.onday?date}</td>
                                    <td>${stock.mfcount}</td>
                                    <td>${stock.mfSize}</td>
                                </tr>
                            <#assign i = i + 1/>
                            </#list>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/stock-all.js"></script>
</@main.page>