<#import "common/main-layout.html" as main>
<@main.page>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <h2>${stock.name}</h2>
                        <h5>Market Cap: ${stock.mcap}</h5>
                        <h5>Category: ${stock.category}</h5>
                        <h5>Price: ${stock.price}</h5>
                        <h5>Week High: ${stock.weekhigh}</h5>
                        <h5>Week Low: ${stock.weeklow}</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <br/>
                        <table id="stock-table" class="table table-striped table-bordered" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th colspan="7">Fund Who Invested</th>
                            </tr>
                            <tr>
                                <th>Rank</th>
                                <th>Investment</th>
                                <th>Fund</th>
                                <th>Asset</th>
                                <th>Allocation</th>
                                <th>Category</th>
                                <th>On Day</th>
                            </tr>
                            </thead>
                            <tbody>
                            <#assign i = 1/>
                            <#assign total = 0/>
                            <#list fundData as fund>
                            <#assign total = total + fund[0]/>
                            <tr>
                                <td>${i}</td>
                                <td>${fund[0]}</td>
                                <td>${fund[1]}</td>
                                <td>${fund[2]}</td>
                                <td>${fund[3]}</td>
                                <td>${fund[4]}</td>
                                <td>${fund[6]?date}</td>
                            </tr>
                            <#assign i = i + 1/>
                            </#list>
                            </tbody>
                        </table>
                        </br>
                            <h2>Total: ${total}</h2>
                        </br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
</@main.page>